
.vs/cs_like_lua/v15/Server/sqlite3/storage.ide-wal
.vs/cs_like_lua/v15/Server/sqlite3/storage.ide-shm
.vs/cs_like_lua/v15/Server/sqlite3/storage.ide
.vs/cs_like_lua/v15/Server/sqlite3/db.lock
.vs/cs_like_lua/v15/.suo
.vs/cs_like_lua/DesignTimeBuild/.dtbcache
